.login {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/images//bg1.jpg') no-repeat  center center;
  background-size: 100% 100%;
  header {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background: #fff;
    font-size: 18px;
  }
  .login-form-wrapper{
    width: 320px;
    min-height: 220px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.2);
    border-radius: 6px;
    margin:100px auto 0;
  }
  h1{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #0D90EE;
    color: #fff;
    line-height: 40px;
    margin: 0;
    border-radius: 6px 6px 0 0;
  }
  .form-content-wrapper{
    margin-top: 20px;
    padding: 20px;
  }
  .login-form-button{
    width: 100%;
  }
}
